@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  color: var(--header-text-color);
}

:root {
  --reset-button-color: rgba(224, 224, 224, 1);
  --header-text-color: rgba(51, 51, 51, 1);
  --service-plans-border-color: rgba(189, 189, 189, 1);
  --participants-countries-border-color: rgba(130, 130, 130, 1);
  --participants-countries-checked-color: rgba(0, 117, 242, 1);
  --plan-desc-bg-color: rgba(173, 235, 204, 1);
  --header-bg-color: rgba(248, 227, 201, 1);
  --total-cost-bg-color: rgba(51, 39, 124, 1);
  --study-summary-bg-color: rgba(227, 224, 245, 1);
  --bg-color: rgba(250, 250, 250, 1);
  --default-font: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--default-font);
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
  width: 87%;
  margin: 0 auto;
}

.logo {
  width: 137px;
}
header {
  height: 88px;
  display: flex;
  align-items: center;
  background-color: white;
}

.total-cost {
  background-color: var(--total-cost-bg-color);
  color: white;
  padding: 40px 24px;
}

.study-summary {
  background-color: var(--study-summary-bg-color);
  width: 100%;
}

.pricing-calculator-text {
  padding-top: 1.5rem;
}

.pricing-calculator-text h1 {
  font-weight: 700;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}

.pricing-calculator-text p {
  font-family: inherit;
  font-weight: thin;
  line-height: 20px;
}

.total-cost .container p {
  font-weight: 300;
}

.service-plan-controls label {
  border: 1px solid var(--service-plans-border-color);
  border-radius: 4px;
  background-color: white;
  padding: 0.3em 0.2em 0.3em 0;
  margin-right: 0.8rem;
}

.service-plan-controls p {
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 0.7rem;
}
.service-plan-desc p {
  background-color: var(--plan-desc-bg-color);
  border-radius: 4px;
}

.participants-countries p {
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 1rem;
}

.service-plans {
  margin: 2.5rem 0 3rem;
}

.total-cost p {
  text-transform: uppercase;
}

.study-duration select,
.study-structure select,
.study-moderation select,
.project-management select,
.study-transcript select,
.study-report select {
  width: 100%;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Hide the default checkbox */
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--participants-countries-border-color);
  border-radius: 2.5px;
}

/* Style the custom checkbox when it's checked */

input[type='checkbox']:checked {
  border-color: var(--participants-countries-checked-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M1.73 6.3l-.6-.6a1 1 0 0 1 0-1.42 1 1 0 0 1 1.42 0L4 7.6l5.6-5.6a1 1 0 0 1 1.42 1.42l-6 6a1 1 0 0 1-1.42 0z' fill='%23007bff'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.country-fields {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.country-fields label {
  border: 1px solid var(--participants-countries-border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.3em 0.375em;
  margin-right: 1.3rem;
  font-size: 0.875rem;
}

.country-fields label input {
  margin-right: 10px;
}

.number-of-participants .participants-field input {
  display: block;
  width: 100%;
}

button.reset-btn {
  background-color: var(--reset-button-color);
  color: inherit;
  display: block;
  border: none;
  padding: 18px 16px;
  font-weight: 700;
  font-size: var(--default-font);
  text-align: center;
  border-radius: 4px;
  width: 100%;
  transition: transform 0.4s ease-in-out;
  margin-bottom: 3rem;
}

button.reset-btn:active {
  transform: scale(1.1);
}

.input-error {
  display: none;
}

.drop-downs {
  padding: 2.5rem 0;
}

.project-management label,
.study-duration label,
.study-moderation label,
.study-report label,
.study-structure label,
.study-transcript label,
.participants-field label {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.number-of-participants .participants-field input,
.project-management select,
.study-duration select,
.study-moderation select,
.study-report select,
.study-structure select,
.study-transcript select,
.participants-field select {
  width: 312px;
  height: 48px;
  display: block;
  padding: 0 1rem;
  color: #828282;
  font-weight: 400;
  line-height: 17px;
  outline: none;
  font-size: 14px;
}

.number-of-participants .participants-field input {
  outline: none;
}

input::placeholder {
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

small {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  display: inline-block;
  margin-top: 0.875em;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background: url('../../public/chevron-down-solid.svg') no-repeat 95% center;
}
.number-of-participants {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.drop-down-child:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.study-report {
  margin-top: 2rem;
}

.total-cost .container p {
  font-weight: thin;
  margin-bottom: 0.5rem;
  font-size: 14px;
  line-height: 17px;
}

.total-cost .container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

@media (min-width: 992px) {
  body {
    padding-top: 88px;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    padding: 0 7.5rem;
  }

  .container {
    margin: 0;
  }

  header.form-completed {
    background-color: var(--header-bg-color);
  }
  .logo {
    width: 162px;
  }
  button.reset-btn,
  button.purchase-plan-btn {
    cursor: pointer;
  }

  .main-container {
    display: flex;
  }
  .drop-downs {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
  }

  .drop-down-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
  }

  .number-of-participants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .participants-field {
    display: flex;
    flex-direction: column;
  }
  .form-section {
    flex: 0 0 68%;
    padding: 0 0 0 7.5rem;
  }

  .total-cost-section {
    width: 33.2%;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    right: 0;
    top: 88px;
  }

  .total-cost {
    padding: 72px 32px;
  }

  .study-summary {
    height: 100%;
    padding: 56px 32px 0px;
  }
  .study-summary .container h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    margin: 0.5rem 0 1rem 0;
  }

  .study-summary .container p {
    font-weight: thin;
    line-height: 24px;
    margin-bottom: 1.5rem;
  }

  .study-summary-list ul {
    font-weight: thin;
    line-height: 24px;
    margin-bottom: 1.5rem;
  }
  .pricing-calculator-text {
    padding-top: 2.5rem;
  }

  .pricing-calculator-text h1 {
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
    line-height: 29.05px;
  }
  .pricing-calculator-text p {
    font-size: 0.875rem;
    line-height: 16.94px;
    font-weight: 400;
  }

  .service-plans {
    margin: 3rem 0 2rem 0;
  }

  .service-plan-controls p {
    font-weight: 600;
    line-height: 19.36px;
    padding-bottom: 1.7rem;
  }

  .service-plan-controls label {
    padding: 0.8rem 1rem 0.8rem 0.8rem;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  .service-plan-desc p {
    margin-top: 2rem;
    font-size: 0.625rem;
    font-weight: thin;
    line-height: 12px;
    padding: 0.7rem 0.7rem;
    width: fit-content;
    color: var(--header-text-color);
  }
  .service-plan-desc p span {
    display: inline-block;
    margin-right: 0.5em;
  }
  .total-cost .container p {
    font-weight: thin;
    margin-bottom: 0.5rem;
  }

  .total-cost .container h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 58px;
  }
  /* Do this later */
  /* input[type='radio'] {
    width: 15px;
    height: 15px;
  } */
  .country-fields label,
  .country-fields label input {
    cursor: pointer;
  }
  .participants-countries {
    border: 1px solid #828282;
    border-radius: 4px;
    background-color: white;
    padding: 1.5rem 0 1.5rem 1.5rem;
    margin-top: 3.65rem;
  }
  .participants-countries p {
    margin-bottom: 1rem;
  }

  button.reset-btn {
    width: 344px;
    margin-bottom: 9rem;
  }

  select {
    /* Other styles for select element */
    appearance: none;
    -webkit-appearance: none;
    background: url('../../public/chevron-down-solid.svg') no-repeat 95% center;
    /* The arrow image should have transparent background */
  }

  .number-of-participants {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .drop-down-child:not(:last-child) {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin: 0;
  }

  .study-report {
    margin-top: 0;
  }
}
